$softText: #757575;
$hardText: #242845;
$themeColor: #037e94;
$brandColor: #93C60C;

//Darkmode
$darkBackground: #131929;
$darkHardText: rgba(255, 255, 255,.9);
$darkLightText : rgba(255,255,255,.7);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}


.page {
    margin: 0;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
    padding: 18px 26px;

    &.no-flex{
        display: block;
    }

    main#primary{
        padding: 0 38px 0 0;
        
        article.post{
            

            .entry-title{
                font-weight: 900;
                margin: 0;
                font-size: 2.5rem;
                color: $hardText;
            }

            .post-thumbnail img{
                border-radius: 12px;
                margin: 18px 0;
            }

        }
    }

}


.site-header{
    position: relative;
    margin-bottom: 14px;
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: linear-gradient(270deg, #037e94, #93c60c);
        background-size: 400% 400%;
        -webkit-animation: gradientAnimate 15s ease infinite;
        -moz-animation: gradientAnimate 15s ease infinite;
        animation: gradientAnimate 15s ease infinite;
    }

    .logo-animated{
        embed{
            width: 180px;
        }
    }

    #searchform-header{
        input[type="text"]{
            border-radius: 8px;
            background-color: #f8f8f8;
            border: 0;
            padding: 6px 12px;
        }

        input[type="submit"]{
            background-color: #037A94;
            color: #fff;
            border: 0;
            outline: 0;
            padding: 8px 18px;
            cursor: pointer;
        }
    }

    .header-wrapper{
        max-width: 1200px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 26px 26px 26px;
    }

    .site-branding{
        img{
            max-width: 180px;
        }
    }

}

@-webkit-keyframes gradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
.header-wrapper.categories-menu-wrapper{
    padding: 12px 26px;
}

.site-footer{
    padding: 0; 
    background-color: #242845;
    margin-top: 48px;

    .menu{

        display: flex;
        align-items: center;
        
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            gap: 28px;
            
            li{
                a{
                    font-size: 15px;
                    color: rgba(255,255,255, .6);
                    text-decoration: none;
                    transition: .1s ease-in;

                    &:hover{
                        color: rgba(255,255,255, 1);
                    }
                }
            }
        }
    }

    p{
        margin: 0;
    }

    .footer-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 26px;
    }

    .footer-top{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.1);
        padding: 34px 0;

        .logo-footer{
            img{
                width: 170px;
                max-width: 250px;
            }
        }
    }

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        color: rgba(#fff, .7);

        .copyright{
            color: rgba(#fff, .7);
            font-size: 14px;
        }

    }

    .social-menu{
        .social-list{
            display: flex;
            gap: 8px;
            list-style: none;
            padding: 0;
            margin: 0;

            a{
                width: 28px;
                height: 28px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border-radius: 500px;
                background-color: rgba(255,255,255,.7);
                color: $hardText;
                transition: .1s ease-in;

                &:hover{
                    background-color: rgba(255,255,255,1);
                }
            }
        }
    }
}


.hero-grid{
    display: grid;
    grid-template-columns: 2.12fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 18px;
    margin-bottom: 38px;


    a.card-link-container{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba($hardText, 0), rgba($hardText, 0), rgba($hardText, 1));
            border-radius: 12px;
        }

        &:hover{
            img{
                transform: scale(1.06);
            }
        }

    }


    .hero-grid-card{
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 12px;

        &:first-child .card-content{
            bottom: 34px;
            left: 34px;            
        }

        &:first-child .card-content h3{
            font-size: 42px;
            line-height: 42px;
        }



        img{
            border-radius: 12px;
            transition: .5s ease-in-out;
        }

        &:first-child{
            grid-row: span 2;
        }

        .card-content{
            position: absolute;
            bottom: 24px;
            left: 24px;
            z-index: 2;

            .post-data{
                time{
                    color: #fff;
                    margin:5px 0;
                    display: block;
                }
            }

            a{
                color: #fff;
                text-decoration: none;
            }
            h3{
                color: #fff;
                text-decoration: none;
                font-size: 24px;
                line-height: 26px;
                font-weight: 900;
            }
        }
    }


}




//Aside

#secondary{
    min-width: 280px;
    border-radius: 12px;
    padding: 12px;

    h2{
        font-size: 16px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            a{
                text-decoration: none;
                color: $softText;
            }
        }
    }

}


//sections

.section-title{
    font-size: 2.3rem;
    font-weight: 800;
    color: $hardText;
    margin-bottom: 18px;
    display: inline-block;
    position: relative;

    // &::after{
    //     content:'';
    //     width: 50px;
    //     height: 2px;
    //     top: 50%;
    //     right: -70px;
    //     background-color: $brandColor;
    //     position: absolute;
    //     border-radius: 5px;
    // }
}


// Cards

.recommended-posts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin: 24px 0;
}

.last-posts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 0;
    padding-bottom: 34px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.post-card{
    
    .card-header{
        position: relative;
    }

    a{
        text-decoration: none;
    }

    img{
        border-radius: 8px;
        width: 100%;
        margin-bottom: 7px;
        transition: .1s ease-in;
        &:hover{
            opacity: .85;
        }
    }

    .post-card-title{
        font-weight: 800;
        font-size: 20px;
        color: $hardText;
        margin-bottom: 5px;
    }

    .post-data{
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 25px;

        span{
            display: flex;
            align-items: center;
            gap: 2px;
        }

        img.avatar{
            width: 18px;
            height: 18px;
            border-radius: 3px;
            margin: 0 8px 0 0;
        }

    }

    .autor{
        text-transform: capitalize;
    }

    .card-excerpt{
        margin:12px 0;
        color: $softText;
    }

    .post-categories{
        position: absolute;
        top: 12px;
        left: 12px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            a{
                background-color: $themeColor;
                color: #fff;
                text-decoration: none;
                border-radius: 100px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 2px 12px;
                font-size: 13px;
                transition: .1s ease-in-out;
                
                &:hover{
                    background-color: #0a9cbd;
                }
            }
        }
    }

}



// SINGLE POST

.entry-content{
    font-size: 18px;
    line-height: 1.8;
    color: $hardText;

    ol{
        li{
            margin-bottom: 1rem;
        }
    }
}

.post-categories{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        a{
            background-color: $themeColor;
            color: #fff;
            text-decoration: none;
            border-radius: 100px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 2px 12px;
            font-size: 13px;
            transition: .1s ease-in-out;
            
            &:hover{
                background-color: #0a9cbd;
            }
        }
    }
}

.post-data{
    time{
        font-weight: 800;
        text-transform: uppercase;
        color: $softText;
        font-size: 14px;
    }
}


//Archive

.page-title{
    font-weight: 900;
    color: $hardText;
}


//Menu categorias

#categories-menu{
    .menu-secundario{
        ul{
            display: flex;
            gap: 12px;
            list-style: none;
            padding: 0;
            margin: 0;

            li{

                &.current-menu-item{
                    a{
                        background-color: #eee;
                    }
                }


                a{
                    font-weight: 700;
                    text-decoration: none;
                    color: $hardText;
                    background-color: #f8f8f8;
                    border-radius: 150px;
                    padding: 8px 18px;
                    transition: .1s ease-in;

                    &:hover{
                        background-color: #eee;
                    }
                }
            }
        }
    }
}



// DARK MODE

@media (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: $hardText;
    }
  }
  
 @media (prefers-color-scheme: dark) {

    .site-header #searchform-header input[type="text"] {
        background-color: rgba(255,255,255,.1);
        color: #fff;
      }

    .section-title{
        color: $darkHardText;
    }

    .site-header .site-branding img {
        max-width: 180px;
        filter: brightness(100);
      }

    body {
      background-color: $darkBackground;
      color: $darkHardText;
    }

    .wrapper main#primary article.post .entry-title {
        color: $darkHardText;
      }

      .entry-content {
        color: $darkLightText;
      }

      .post-card .post-card-title {
        color: $darkHardText;
      }

      .post-card .card-excerpt{
        color : $darkLightText;
      }

      #categories-menu .menu-secundario ul li a {
        color: $darkHardText;
        background-color: rgba(255,255,255,.05);
      }

      #categories-menu .menu-secundario ul li.current-menu-item a, #categories-menu .menu-secundario ul li a:hover {
        background-color: rgba(255,255,255,.1);
      }

      .page-title {
        color: $darkHardText;
      }


  }  // End Dark Mode



// Media Queries


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    //Grids
    .recommended-posts-grid{
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 24px 0;
    }

    .last-posts-grid{
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 24px 0;
    }

    .hero-grid{
        grid-template-columns: 1fr;
        margin-bottom: 18px;
    }

    //Wrappers

    .wrapper {
        flex-direction: column;     
        max-width: 1200px;
        margin: 0 auto;
        gap: 18px;
        padding: 18px 26px;

        main#primary{
            padding: 0;
          }
      }

      //Titles
      
      .section-title {
        font-size: 1.6rem;
      }

    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {

    //Grids
    .recommended-posts-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin: 24px 0;
    }

    .last-posts-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin: 24px 0;
    }

    //Wrappers

    .wrapper {
        flex-direction: column;     
        max-width: 1200px;
        margin: 0 auto;
        gap: 18px;
        padding: 18px 26px;

        main#primary{
            padding: 0;
          }
      }

      //Titles
    
      .section-title {
        font-size: 1.8rem;
      }
      

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}


