* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif; }

.page {
  margin: 0; }

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 18px;
  padding: 18px 26px; }
  .wrapper.no-flex {
    display: block; }
  .wrapper main#primary {
    padding: 0 38px 0 0; }
    .wrapper main#primary article.post .entry-title {
      font-weight: 900;
      margin: 0;
      font-size: 2.5rem;
      color: #242845; }
    .wrapper main#primary article.post .post-thumbnail img {
      border-radius: 12px;
      margin: 18px 0; }

.site-header {
  position: relative;
  margin-bottom: 14px; }
  .site-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(270deg, #037e94, #93c60c);
    background-size: 400% 400%;
    -webkit-animation: gradientAnimate 15s ease infinite;
    -moz-animation: gradientAnimate 15s ease infinite;
    animation: gradientAnimate 15s ease infinite; }
  .site-header .logo-animated embed {
    width: 180px; }
  .site-header #searchform-header input[type="text"] {
    border-radius: 50px 0 0 50px;
    background-color: #f8f8f8;
    border: 0;
    padding: 11px 24px;
    font-size: 15px;
    line-height: 1.6; }
    .site-header #searchform-header input[type="text"]:focus {
      outline: 1px solid #037e94; }
  .site-header #searchform-header input[type="submit"] {
    font-size: 15px;
    line-height: 1.6;
    background-color: #037A94;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 11px 38px 11px 32px;
    cursor: pointer;
    border-radius: 0 50px 50px 0; }
  .site-header .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 26px 26px 26px; }
  .site-header .site-branding img {
    max-width: 180px; }

@-webkit-keyframes gradientAnimate {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes gradientAnimate {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradientAnimate {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.header-wrapper.categories-menu-wrapper {
  padding: 12px 26px; }

.site-footer {
  padding: 0;
  background-color: #242845;
  margin-top: 48px; }
  .site-footer .menu {
    display: flex;
    align-items: center; }
    .site-footer .menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 28px; }
      .site-footer .menu ul li a {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: .1s ease-in; }
        .site-footer .menu ul li a:hover {
          color: white; }
  .site-footer p {
    margin: 0; }
  .site-footer .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 26px; }
  .site-footer .footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 34px 0; }
    .site-footer .footer-top .logo-footer img {
      width: 170px;
      max-width: 250px; }
  .site-footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    color: rgba(255, 255, 255, 0.7); }
    .site-footer .footer-bottom .copyright {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }
  .site-footer .social-menu .social-list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0; }
    .site-footer .social-menu .social-list a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 500px;
      background-color: rgba(255, 255, 255, 0.7);
      color: #242845;
      transition: .1s ease-in; }
      .site-footer .social-menu .social-list a:hover {
        background-color: white; }

.hero-grid {
  display: grid;
  grid-template-columns: 2.12fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 18px;
  margin-bottom: 38px; }
  .hero-grid a.card-link-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
    .hero-grid a.card-link-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(36, 40, 69, 0), rgba(36, 40, 69, 0), #242845);
      border-radius: 12px; }
    .hero-grid a.card-link-container:hover img {
      transform: scale(1.06); }
  .hero-grid .hero-grid-card {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px; }
    .hero-grid .hero-grid-card:first-child .card-content {
      bottom: 34px;
      left: 34px; }
    .hero-grid .hero-grid-card:first-child .card-content h3 {
      font-size: 42px;
      line-height: 42px; }
    .hero-grid .hero-grid-card img {
      border-radius: 12px;
      transition: .5s ease-in-out; }
    .hero-grid .hero-grid-card:first-child {
      grid-row: span 2; }
    .hero-grid .hero-grid-card .card-content {
      position: absolute;
      bottom: 24px;
      left: 24px;
      z-index: 2; }
      .hero-grid .hero-grid-card .card-content .post-data time {
        color: #fff;
        margin: 5px 0;
        display: block; }
      .hero-grid .hero-grid-card .card-content a {
        color: #fff;
        text-decoration: none; }
      .hero-grid .hero-grid-card .card-content h3 {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        line-height: 26px;
        font-weight: 900; }

#secondary {
  max-width: 312px;
  border-radius: 12px;
  padding: 12px; }
  #secondary h2 {
    font-size: 16px; }
  #secondary ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #secondary ul li a {
      text-decoration: none;
      color: #757575; }
  #secondary .widget_tag_cloud .wp-block-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 3px; }
    #secondary .widget_tag_cloud .wp-block-tag-cloud .tag-cloud-link {
      display: inline-block;
      margin-bottom: 3px;
      font-size: 13px !important;
      text-decoration: none;
      padding: 4px 12px;
      color: #242845;
      background-color: #f8f8f8;
      border-radius: 100px;
      text-transform: uppercase;
      font-weight: 600;
      transition: .2s; }
      #secondary .widget_tag_cloud .wp-block-tag-cloud .tag-cloud-link:hover {
        background-color: #eee; }

.section-title {
  font-size: 2.3rem;
  font-weight: 800;
  color: #242845;
  margin-bottom: 18px;
  display: inline-block;
  position: relative; }

.recommended-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin: 24px 0; }

.last-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.post-card .card-header {
  position: relative; }

.post-card a {
  text-decoration: none; }

.post-card img {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 7px;
  transition: .1s ease-in; }
  .post-card img:hover {
    opacity: .85; }

.post-card .post-card-title {
  font-weight: 800;
  font-size: 20px;
  color: #242845;
  margin-bottom: 5px; }

.post-card .post-data {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 25px; }
  .post-card .post-data span {
    display: flex;
    align-items: center;
    gap: 2px; }
  .post-card .post-data img.avatar {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin: 0 8px 0 0; }

.post-card .autor {
  text-transform: capitalize; }

.post-card .card-excerpt {
  margin: 12px 0;
  color: #757575; }

.post-card .post-categories {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }
  .post-card .post-categories li a {
    background-color: #037e94;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 12px;
    font-size: 13px;
    transition: .1s ease-in-out; }
    .post-card .post-categories li a:hover {
      background-color: #0a9cbd; }

.lecture-time i {
  margin-right: 7px; }

.entry-content {
  font-size: 18px;
  line-height: 1.8;
  color: #242845; }
  .entry-content ol li {
    margin-bottom: 1rem; }

.like-post-form {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #f8f8f8;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin: 16px 0; }
  .like-post-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .like-post-form .choose-emote {
    width: 100px;
    height: auto;
    cursor: pointer; }
    .like-post-form .choose-emote.loveit:hover {
      animation: heartBeat 1s; }
    .like-post-form .choose-emote.lol:hover {
      animation: shakeY 1s; }
    .like-post-form .choose-emote.omg:hover {
      animation: tada 1s; }
    .like-post-form .choose-emote.meh:hover {
      animation: swing 1s; }

.post-categories {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }
  .post-categories li a {
    background-color: #037e94;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 12px;
    font-size: 13px;
    transition: .1s ease-in-out; }
    .post-categories li a:hover {
      background-color: #0a9cbd; }

.post-data time {
  font-weight: 800;
  text-transform: uppercase;
  color: #757575;
  font-size: 14px; }

.page-title {
  font-weight: 900;
  color: #242845; }

#categories-menu .menu-secundario ul {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0; }
  #categories-menu .menu-secundario ul li.current-menu-item a {
    background-color: #eee; }
  #categories-menu .menu-secundario ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #242845;
    background-color: #f8f8f8;
    border-radius: 150px;
    padding: 8px 18px;
    transition: .1s ease-in; }
    #categories-menu .menu-secundario ul li a:hover {
      background-color: #eee; }

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #242845; } }

@media (max-width: 575.98px) {
  .recommended-posts-grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 24px 0; }
  .last-posts-grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 24px 0; }
  .hero-grid {
    grid-template-columns: 1fr;
    margin-bottom: 18px; }
  .wrapper {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
    padding: 18px 26px; }
    .wrapper main#primary {
      padding: 0; }
  .section-title {
    font-size: 1.6rem; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .recommended-posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 24px 0; }
  .last-posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 24px 0; }
  .wrapper {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
    padding: 18px 26px; }
    .wrapper main#primary {
      padding: 0; }
  .section-title {
    font-size: 1.8rem; } }
